@import "~jspsych/css/jspsych.css";

.semantic-memory {
  background-color: #ffffff;
}

.target {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20pt;
}

.question {
  display: block;
  margin-bottom: 20pt;
  margin-top: 20pt;
}

.cues {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cue {
  border: 2px solid transparent;
  transition: border 0.2s;
  margin: 5px;
  padding: 5px;
}

.cue:hover {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
}

.semanticForm {
  display: block;
}

.semanticForm .formLabel {
  display: block;
  margin-bottom: 20pt;
  margin-left: auto;
  margin-right: auto;
}

.semanticForm .formText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20pt;
}

.semanticForm .formButton {
  display: block;
  margin-top: 20pt;
  margin-left: auto;
  margin-right: auto;
}

.selectedCue {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  margin: 5px;
  padding: 5px;
}
